PORT=8080
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# for asymmetric jwt
JWT_PRIVATE_KEY_PATH="./src/utils/keys/private.key"
JWT_PUBLIC_KEY_PATH="./src/utils/keys/public.key"

# App info
ISSUER="http://localhost:8080"
FRONTEND_URL="http://localhost:3000"
